html, body {
    font-family: system-ui, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;

    --card-bg: #eee;
    --card2-bg: #ddd;
    --spoilered: #aaa;
    --accent: #fa0;
    --accent-hover: #9d0;
    --accent-select: #0d9;
    --shade: #0001;
}

@media (prefers-color-scheme: dark) {
    html, body {
        color-scheme: dark;
        background: #333;
        --card-bg: #222;
        --card2-bg: #111;
        --spoilered: #555;
        --accent-hover: #af0;
        --accent-select: #0fa;
        --shade: #fff1;
    }
}

.load-file {
    &.is-dragging-over button {
        animation: load-file-is-dragging-over 1s infinite;
    }
    .hidden-input {
        display: none;
    }
}
@keyframes load-file-is-dragging-over {
    0%, 100% {
        outline: 1px solid;
    }
    50% {
        outline: 1px solid transparent;
    }
}

#application {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;

    > .header {
        background: var(--card-bg);
        padding: 0.5em;
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

.tvg-file {
    flex: 1 0 0;
    height: 0;
    display: flex;

    > .side-panel {
        flex: 1;
        overflow: auto;
        border-right: 1px solid;
    }
    > .canvas-container {
        display: grid;
        flex: 3;

        > * {
            grid-area: 1 / 1;
        }
    }
}

.canvas-view {
    position: relative;
    background: #777;

    > svg.rendered {
        width: 100%;
        height: 100%;

        &.hide-aux {
            .aux {
                display: none;
            }
        }

        .fill-shape {
            &.is-hovering {
                stroke: var(--accent-hover);
                stroke-width: 2px;
            }
            &.is-selected {
                stroke: var(--accent-select);
                stroke-width: 2px;
            }
        }
        .pencil {
            .pencil-outline {
                stroke-width: 0;
            }
            .pencil-center-line {
                stroke-width: 1px;
                stroke-dasharray: 2 2;
            }

            &.is-hovering {
                .pencil-outline {
                    stroke: var(--accent-hover);
                    stroke-width: 2px;
                }
                .pencil-center-line {
                    display: initial;
                    stroke: var(--accent-hover);
                }
            }
            &.is-selected {
                .pencil-outline {
                    stroke: var(--accent-select);
                }
                .pencil-center-line {
                    display: initial;
                    stroke: var(--accent-select);
                    stroke-width: 2px;
                }
            }
        }

        .shape-viz-point {
            .inner-point {
                fill: var(--accent-hover);
            }
            .target-line {
                stroke: var(--accent-hover);
                stroke-width: 2px;
            }
        }
    }

    > .canvas-controls {
        position: absolute;
        display: flex;
        top: 0.5em;
        left: 0.5em;
        gap: 0.5em;
    }
    > .canvas-info {
        position: absolute;
        left: 0.5em;
        bottom: 0.5em;
        background: #0007;
        color: #fff;
        padding: 0.3em;
        border-radius: 0.5em;
        font-feature-settings: 'tnum' 1;
    }
}

.file-metadata {
    > .metadata-item {
        padding: 0.5em;
        border-radius: 0.5em;
        margin: 0.5em;
        background: var(--card-bg);

        > .item-title {
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
            border-bottom: 1px solid;
            font-weight: bolder;
        }
    }
}

.file-identity {
    .entry {
        display: flex;
        align-items: baseline;

        .label {
            min-width: 8em;
            text-transform: uppercase;
            font-size: smaller;
        }

        .value {
            flex: 1;

            &.spoilered {
                color: var(--spoilered);
                background: currentColor;
                border-radius: 0.5em;
                transition: all 0.2s;

                &:hover {
                    color: inherit;
                    background: none;
                }
            }
        }
    }
}
.file-certificate, .file-signature {
    & pre {
        margin: 0.5em 0;
        font-size: 0.8em;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}
.file-palette {
    > .color-entries {
        margin: 0;
        padding: 0;
        list-style: none;

        > .color-entry {
            margin-top: 0.5em;

            > .color-id {
                line-height: 1.1;
                margin-bottom: 0.2em;

                > .color-id-value {
                    opacity: 0.7;
                    font-size: smaller;
                }

                > .color-label {
                    display: flex;
                    gap: 0.5em;

                    > .color-name {
                        font-weight: bolder;
                    }
                }
            }
            > .color-value {
                border-radius: 0.5em;
                border: 1px solid #777;
                overflow: clip;
                background: #777;

                > .rgba-value {
                    display: block;
                    padding: 0.5em;
                }
            }
        }
    }
}


.layer-data {
    margin: 0.5em;
    background: var(--card-bg);
    border-radius: 0.5em;

    > .header {
        padding: 0.5em;
        display: flex;
        justify-content: space-between;

        > .label {
            font-weight: bold;
        }
    }
}
.layer-data .vector-shape {
    margin: 0.1em 0;
    background: var(--card2-bg);

    > .header {
        display: flex;

        &::-webkit-details-marker {
            display: none;
        }
        list-style: none;

        &.is-hovering {
            box-shadow: inset 0 0 0 2px var(--accent-hover);
        }
        &.is-selected {
            box-shadow: inset 0 0 0 2px var(--accent-select);
        }

        > .disclosure {
            padding: 0.1em 0.5em;
            cursor: default;
        }

        > .inner {
            padding: 0.1em 0.5em;
            margin: 0;
            border: none;
            background: none;
            color: inherit;
            font: inherit;
            display: flex;
            flex: 1;
            justify-content: space-between;

            > .label {
                font-weight: bold;
            }

            > .detail {
                font-feature-settings: 'tnum' 1;
            }
        }
    }

    .vector-shape-component {
        margin: 0.2em;
        padding: 0.2em;
        border-radius: 0.2em;
        border: 1px solid;
    }

    .component-tag.is-info {
        display: flex;
        justify-content: space-between;

        > .type {
            font-weight: bold;
        }
        > .color-id {
            font-size: smaller;
        }
    }
    .component-tag.is-path {
        > .path-segment {
            border-top: 1px solid;
            padding: 0.1em 0;
            padding-left: 2em;

            .segment-type {
                display: inline-block;
                text-align: center;
                font-weight: bolder;
                margin-left: -2em;
                width: 1.5em;
                margin-right: 0.5em;
            }
        }
    }

    .absolute-point {
        background: var(--shade);
        padding: 0.1em;
        border-radius: 0.5em;
        display: inline-flex;
        font-feature-settings: 'tnum' 1;
        width: 100%;
        gap: 0.3em;

        > .coord {
            flex: 1;
        }

        &.is-viz {
            box-shadow: inset 0 0 0 2px var(--accent-hover);
        }
    }
}
